Bismillah Her Hayrın Başıdır...

In [106]:
import csv
import numpy as np
import pandas as pd

In [107]:
avocado =pd.read_csv('C:/Users/simurg/Veri analizi/avocado.csv',sep= ",")

In [108]:
avocado

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

In [52]:
avocado.head(10)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.0,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.0,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.0,conventional,2015,Albany

In [53]:
avocado.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
             2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
           dtype='int64', length=18249)

In [56]:
avocado['AveragePrice']

0     1.33
1     1.35
2     0.93
3     1.08
4     1.28
5     1.26
6     0.99
7     0.98
8     1.02
9     1.07
10    1.12
11    1.28
12    1.31
13    0.99
14    1.33
15    1.28
16    1.11
17    1.07
18    1.34
19    1.33
20    1.12
21    1.45
22    1.11
23    1.26
24    1.05
25    1.35
26    1.37
27    1.27
28    1.32
29    1.07
      ...
6     1.56
7     1.53
8     1.61
9     1.63
10    1.59
11    1.51
0     1.60
1     1.73
2     1.63
3     1.46
4     1.49
5     1.64
6     1.47
7     1.41
8     1.80
9     1.83
10    1.82
11    1.48
0     1.62
1     1.56
2     1.56
3     1.54
4     1.57
5     1.56
6     1.57
7     1.63
8     1.71
9     1.87
10    1.93
11    1.62
Name: AveragePrice, Length: 18249, dtype: float64

In [57]:
avocado["AveragePrice"].mean()

1.4059784097758825

In [59]:
avocado["AveragePrice"].max()

3.25

In [ ]:
avocado["AveragePrice"].max()

In [61]:
avocado[avocado["AveragePrice"]==avocado["AveragePrice"].max()]

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
8,2016-10-30,3.25,16700.94,2325.93,11142.85,0.0,3232.16,3232.16,0.0,0.0,organic,2016,SanFrancisco

0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
12    Albany
13    Albany
14    Albany
15    Albany
16    Albany
17    Albany
18    Albany
19    Albany
20    Albany
21    Albany
22    Albany
23    Albany
24    Albany
25    Albany
26    Albany
27    Albany
28    Albany
29    Albany
       ...
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
Name: region, Length: 18249, dtype: object

In [83]:
avocado[avocado["region"]=="SanFrancisco"].mean()

Date           NaN
AveragePrice   NaN
Total Volume   NaN
4046           NaN
4225           NaN
4770           NaN
Total Bags     NaN
Small Bags     NaN
Large Bags     NaN
XLarge Bags    NaN
type           NaN
year           NaN
region         NaN
dtype: float64

In [85]:
avocado[avocado["Date"]=="2016-10-30",["region"]=="SanFrancisco"]

TypeError: '(0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
6     False
7     False
8     False
9     False
10    False
11    False
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: Date, Length: 18249, dtype: bool, False)' is an invalid key

In [86]:
avocado[avocado["Date"]=="2016-10-30"]

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
8,2016-10-30,1.46,58375.10,3187.14,45898.52,54.31,9235.13,9153.12,82.01,0.00,conventional,2016,Albany
8,2016-10-30,1.26,408314.87,162367.80,69366.17,160.28,176420.62,94305.34,82115.28,0.00,conventional,2016,Albany
8,2016-10-30,1.86,522546.62,58412.45,304616.52,27903.69,131613.96,130682.92,565.76,365.28,conventional,2016,Albany
8,2016-10-30,1.34,59788.57,25832.98,3018.08,7311.55,23625.96,22909.91,622.44,93.61,conventional,2016,Albany
8,2016-10-30,1.67,376500.91,5542.76,304461.49,3787.66,62709.00,62705.31,3.69,0.00,conventional,2016,Albany
8,2016-10-30,1.65,71163.53,1130.02,56077.13,81.81,13874.57,13874.57,0.00,0.00,conventional,2016,Albany
8,2016-10-30,1.68,3139833.50,1126017.42,1186843.99,92064.47,734907.62,686375.28,25241.60,23290.74,conventional,2016,Albany
8,2016-10-30,1.58,142955.49,39376.44,29382.30,26881.22,47315.53,40258.68,6816.57,240.28,conventional,2016,Albany
8,2016-10-30,2.07,375213.57,33564.91,226980.93,60260.53,54407.20,48140.45,1587.11,4679.64,conventional,2016,Albany
8,2016-10-30,1.02,241671.24,2125.55,89381.04,841.37,149323.28,11631.40,137691.88,0.00,conventional,2016,Albany
8,2016-10-30,1.10,138565.73,75422.45,16016.58,1373.56,45753.14,43902.77,1850.37,0.00,conventional,2016,Albany
8,2016-10-30,1.14,801081.72,432538.75,156225.53,2502.45,209814.99,208940.16,806.01,68.82,conventional,2016,Albany
8,2016-10-30,1.13,576353.94,99369.74,239345.04,16411.08,221228.08,76674.60,144255.79,297.69,conventional,2016,Albany
8,2016-10-30,1.40,193940.78,75576.83,41553.71,4805.57,72004.67,70936.81,1058.93,8.93,conventional,2016,Albany
8,2016-10-30,1.42,107013.58,1991.45,80587.89,2821.22,21613.02,17160.23,4411.44,41.35,conventional,2016,Albany
8,2016-10-30,1.36,2275351.91,456451.30,955805.27,88514.18,774581.16,433158.18,335025.88,6397.10,conventional,2016,Albany
8,2016-10-30,1.59,171652.40,35332.98,78894.91,87.59,57336.92,56958.76,378.16,0.00,conventional,2016,Albany
8,2016-10-30,1.81,180113.35,2704.79,130995.75,191.97,46220.84,46140.97,79.87,0.00,conventional,2016,Albany
8,2016-10-30,1.15,709890.11,346283.28,181578.62,3192.69,178835.52,47722.65,131112.87,0.00,conventional,2016,Albany
8,2016-10-30,1.20,139574.84,9278.40,61450.22,1682.81,67163.41,26068.96,41094.45,0.00,conventional,2016,Albany
8,2016-10-30,1.41,115122.47,38168.39,20158.77,206.84,56588.47,13461.45,43127.02,0.00,conventional,2016,Albany
8,2016-10-30,1.16,223089.05,79018.69,31778.97,7157.69,105133.70,42630.66,62503.04,0.00,conventional,2016,Albany
8,2016-10-30,1.48,1499286.88,533137.32,383974.46,59596.59,522578.51,487013.41,16418.82,19146.28,conventional,2016,Albany
8,2016-10-30,1.28,70137.79,1769.84,35446.19,162.17,32759.59,7816.19,24943.40,0.00,conventional,2016,Albany
8,2016-10-30,1.57,403657.05,169008.34,98080.05,247.52,136321.14,41406.60,94572.87,341.67,conventional,2016,Albany
8,2016-10-30,1.48,2083054.88,606275.55,713427.63,107745.17,655606.53,547423.00,104591.30,3592.23,conventional,2016,Albany
8,2016-10-30,1.18,151715.90,65786.54,17343.11,165.83,68420.42,54539.04,12436.38,1445.00,conventional,2016,Albany
8,2016-10-30,1.48,163510.83,71230.82,22081.11,373.58,69825.32,43587.37,16789.62,9448.33,conventional,2016,Albany
8,2016-10-30,1.99,618279.77,9264.98,435952.49,1595.64,171466.66,148756.72,21484.94,1225.00,conventional,2016,Albany
8,2016-10-30,1.72,2364424.49,118904.18,1616421.48,12120.21,616978.62,587560.44,28141.79,1276.39,conventional,2016,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,2016-10-30,1.58,385.55,8.13,47.42,0.00,330.00,330.00,0.00,0.00,organic,2016,Albany
8,2016-10-30,1.78,97718.73,2087.74,57325.02,3894.51,34411.46,29295.75,5115.71,0.00,organic,2016,Albany
8,2016-10-30,1.68,6293.04,294.80,5438.31,0.00,559.93,38.89,521.04,0.00,organic,2016,Albany
8,2016-10-30,1.59,3649.01,166.24,0.00,0.00,3482.77,2030.42,1452.35,0.00,organic,2016,Albany
8,2016-10-30,2.25,25450.53,5223.58,18866.35,57.57,1303.03,777.54,525.49,0.00,organic,2016,Albany
8,2016-10-30,1.96,72130.37,7965.62,26563.78,67.48,37533.49,36379.22,1154.27,0.00,organic,2016,Albany
8,2016-10-30,1.65,7404.92,1.21,180.56,0.00,7223.15,7223.15,0.00,0.00,organic,2016,Albany
8,2016-10-30,1.56,3758.96,692.43,201.48,0.00,2865.05,303.33,2561.72,0.00,organic,2016,Albany
8,2016-10-30,2.39,6531.71,1020.47,3824.37,0.00,1686.87,1633.31,53.56,0.00,organic,2016,Albany
8,2016-10-30,2.62,5394.03,1436.70,3458.84,0.00,498.49,485.16,13.33,0.00,organic,2016,Albany
8,2016-10-30,1.54,8707.36,949.37,59.89,0.00,7698.10,7249.13,448.97,0.00,organic,2016,Albany
8,2016-10-30,1.80,33702.09,3145.29,10032.23,1058.94,19465.63,14282.84,5182.79,0.00,organic,2016,Albany
8,2016-10-30,2.55,7136.88,1910.88,4597.68,0.83,627.49,172.25,455.24,0.00,organic,2016,Albany
8,2016-10-30,1.83,13196.50,181.18,5746.73,603.36,6665.23,6482.54,182.69,0.00,organic,2016,Albany
8,2016-10-30,1.76,6706.92,211.94,3878.06,348.87,2268.05,2042.40,225.65,0.00,organic,2016,Albany
8,2016-10-30,1.77,6335.66,52.16,4203.61,0.00,2079.89,1422.05,657.84,0.00,organic,2016,Albany
8,2016-10-30,2.44,5676.57,1550.22,3615.86,0.00,510.49,510.49,0.00,0.00,organic,2016,Albany
8,2016-10-30,2.74,8933.54,1854.17,6533.70,0.00,545.67,545.67,0.00,0.00,organic,2016,Albany
8,2016-10-30,3.25,16700.94,2325.93,11142.85,0.00,3232.16,3232.16,0.00,0.00,organic,2016,Albany
8,2016-10-30,2.73,13588.39,794.44,11345.97,23.56,1424.42,600.60,823.82,0.00,organic,2016,Albany
8,2016-10-30,1.73,8600.52,392.92,3718.26,417.02,4072.32,2907.25,1165.07,0.00,organic,2016,Albany
8,2016-10-30,1.48,94332.98,41423.95,4092.33,5.96,48810.74,47513.43,1297.31,0.00,organic,2016,Albany
8,2016-10-30,1.75,44666.00,5090.29,15508.61,572.47,23494.63,5220.39,18274.24,0.00,organic,2016,Albany
8,2016-10-30,2.89,1043.41,105.07,907.25,3.03,28.06,0.00,28.06,0.00,organic,2016,Albany
8,2016-10-30,1.00,6655.57,800.43,637.41,0.00,5217.73,420.00,4797.73,0.00,organic,2016,Albany
8,2016-10-30,1.73,667.95,4.91,57.64,0.00,605.40,605.40,0.00,0.00,organic,2016,Albany
8,2016-10-30,1.47,3023.03,433.89,62.36,0.00,2526.78,200.00,2326.78,0.00,organic,2016,Albany
8,2016-10-30,1.93,647723.55,123815.80,279842.50,5661.78,238403.47,180631.31,57772.16,0.00,organic,2016,Albany
8,2016-10-30,2.16,96943.41,42763.18,39555.64,60.88,14563.71,11572.83,2990.88,0.00,organic,2016,Albany
8,2016-10-30,2.57,5647.48,593.81,4865.11,8.56,180.00,176.67,3.33,0.00,organic,2016,Albany

In [101]:
avocado["region"]

0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
12    Albany
13    Albany
14    Albany
15    Albany
16    Albany
17    Albany
18    Albany
19    Albany
20    Albany
21    Albany
22    Albany
23    Albany
24    Albany
25    Albany
26    Albany
27    Albany
28    Albany
29    Albany
       ...
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
0     Albany
1     Albany
2     Albany
3     Albany
4     Albany
5     Albany
6     Albany
7     Albany
8     Albany
9     Albany
10    Albany
11    Albany
Name: region, Length: 18249, dtype: object

In [116]:
avocado[avocado["region"]=="Albany"]

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2017-04-30,1.74,3046.63,388.81,280.28,0.00,2377.54,2377.54,0.00,0.00,organic,2017,Albany
36,2017-04-23,1.92,2087.60,110.25,182.56,0.00,1794.79,1794.79,0.00,0.00,organic,2017,Albany
37,2017-04-16,1.85,2886.48,265.82,203.84,0.00,2416.82,2416.82,0.00,0.00,organic,2017,Albany
38,2017-04-09,1.92,2209.82,159.65,189.67,0.00,1860.50,1860.50,0.00,0.00,organic,2017,Albany
39,2017-04-02,1.86,3492.87,885.46,362.37,0.00,2245.04,2245.04,0.00,0.00,organic,2017,Albany
40,2017-03-26,2.02,2250.22,166.49,263.32,0.00,1820.41,1820.41,0.00,0.00,organic,2017,Albany
41,2017-03-19,1.87,2763.38,503.14,175.98,0.00,2084.26,2084.26,0.00,0.00,organic,2017,Albany
42,2017-03-12,1.97,2001.95,123.51,206.64,0.00,1671.80,1671.80,0.00,0.00,organic,2017,Albany
43,2017-03-05,1.84,2228.14,241.00,208.79,0.00,1778.35,1778.35,0.00,0.00,organic,2017,Albany
44,2017-02-26,1.71,2185.96,508.31,240.10,0.00,1437.55,1437.55,0.00,0.00,organic,2017,Albany
45,2017-02-19,1.67,2523.56,1049.50,141.41,0.00,1332.65,1332.65,0.00,0.00,organic,2017,Albany
46,2017-02-12,1.78,1806.40,119.52,170.57,0.00,1516.31,1516.31,0.00,0.00,organic,2017,Albany
47,2017-02-05,1.72,1753.35,26.75,223.33,0.00,1503.27,1503.27,0.00,0.00,organic,2017,Albany
48,2017-01-29,1.86,1795.81,32.53,123.14,0.00,1640.14,1640.14,0.00,0.00,organic,2017,Albany
49,2017-01-22,1.82,1897.07,78.83,128.24,0.00,1690.00,1690.00,0.00,0.00,organic,2017,Albany
50,2017-01-15,1.84,1982.65,82.30,328.02,0.00,1572.33,1572.33,0.00,0.00,organic,2017,Albany
51,2017-01-08,1.94,2229.52,63.46,478.31,0.00,1687.75,1687.75,0.00,0.00,organic,2017,Albany
52,2017-01-01,1.87,1376.70,71.65,192.63,0.00,1112.42,1112.42,0.00,0.00,organic,2017,Albany
0,2018-03-25,1.71,2321.82,42.95,272.41,0.00,2006.46,1996.46,10.00,0.00,organic,2018,Albany
1,2018-03-18,1.66,3154.45,275.89,297.96,0.00,2580.60,2577.27,3.33,0.00,organic,2018,Albany
2,2018-03-11,1.68,2570.52,131.67,229.56,0.00,2209.29,2209.29,0.00,0.00,organic,2018,Albany
3,2018-03-04,1.48,3851.30,311.55,296.77,0.00,3242.98,3239.65,3.33,0.00,organic,2018,Albany
4,2018-02-25,1.56,5356.63,816.56,532.59,0.00,4007.48,4007.48,0.00,0.00,organic,2018,Albany
5,2018-02-18,1.43,7566.17,4314.30,251.85,0.00,3000.02,3000.02,0.00,0.00,organic,2018,Albany
6,2018-02-11,1.43,3817.93,59.18,289.85,0.00,3468.90,3468.90,0.00,0.00,organic,2018,Albany
7,2018-02-04,1.52,4124.96,118.38,420.36,0.00,3586.22,3586.22,0.00,0.00,organic,2018,Albany
8,2018-01-28,1.32,6987.56,433.66,374.96,0.00,6178.94,6178.94,0.00,0.00,organic,2018,Albany
9,2018-01-21,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,0.00,0.00,organic,2018,Albany
10,2018-01-14,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,0.00,0.00,organic,2018,Albany
11,2018-01-07,1.54,4816.90,43.51,412.17,0.00,4361.22,4357.89,3.33,0.00,organic,2018,Albany

In [113]:
avocado.groupby("region").max()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year
region,,,,,,,,,,,,
Albany,2018-03-25,2.13,216738.47,34912.97,195725.06,5883.16,36806.79,30126.31,27205.98,2900.00,organic,2018
Atlanta,2018-03-25,2.75,957792.07,553198.56,211776.98,4251.74,425991.21,292317.81,217337.59,10972.77,organic,2018
BaltimoreWashington,2018-03-25,2.28,1225103.27,202958.24,805041.45,83652.48,488208.25,483402.85,43483.00,13745.00,organic,2018
Boise,2018-03-25,2.79,136377.55,69544.59,36532.33,23346.13,93735.23,93645.45,40491.57,1231.57,organic,2018
Boston,2018-03-25,2.19,999783.13,85204.27,865836.92,81859.54,220254.40,215552.06,52294.16,4745.00,organic,2018
BuffaloRochester,2018-03-25,2.57,201142.55,26274.97,99364.48,6707.85,101271.16,101271.16,62156.06,5795.00,organic,2018
California,2018-03-25,2.58,11213596.29,4794142.14,4097591.67,424389.60,3462625.70,3403581.49,508755.56,86800.09,organic,2018
Charlotte,2018-03-25,2.83,411160.94,95176.35,172311.19,80813.88,223765.32,218181.70,17681.68,5520.00,organic,2018
Chicago,2018-03-25,2.30,1802646.35,378806.26,1235325.42,224554.50,510679.10,143295.47,423185.75,11540.00,organic,2018
CincinnatiDayton,2018-03-25,2.20,538518.77,102019.45,224967.68,30149.60,397270.05,165544.38,363468.52,9387.59,organic,2018
Columbus,2018-03-25,2.22,333398.29,140453.99,61748.67,36191.68,162102.31,135610.65,39927.30,8519.43,organic,2018
DallasFtWorth,2018-03-25,1.90,1885401.44,1013252.58,509069.75,143875.64,788607.81,673212.32,187840.93,30681.22,organic,2018
Denver,2018-03-25,2.16,1381528.74,239163.63,608156.34,62908.07,749722.33,326361.97,706052.84,4612.42,organic,2018
Detroit,2018-03-25,2.08,880540.45,214826.74,287359.89,192417.10,375815.94,349596.64,89516.48,38570.18,organic,2018
GrandRapids,2018-03-25,2.73,408921.57,7888.33,298897.77,143538.35,87927.29,80548.80,26632.00,43708.82,organic,2018
GreatLakes,2018-03-25,1.98,7094764.73,1410647.88,3117639.02,704466.56,2141227.31,1436877.51,832296.70,131300.76,organic,2018
HarrisburgScranton,2018-03-25,2.27,395673.05,125847.54,247409.27,4525.24,120786.61,119477.01,28613.00,11095.48,organic,2018
HartfordSpringfield,2018-03-25,2.68,522565.33,85641.41,449501.24,23027.59,110584.26,109324.82,28942.00,3881.61,organic,2018
Houston,2018-03-25,1.92,2381742.59,1134750.48,597855.73,210029.30,1120622.10,1010539.42,629791.58,30753.33,organic,2018
Indianapolis,2018-03-25,2.10,335442.41,90305.67,181784.28,27708.02,155633.65,104102.69,111176.50,7575.88,organic,2018
Jacksonville,2018-03-25,2.99,398543.91,206007.07,70592.24,2356.55,141030.88,79274.34,92767.01,5995.00,organic,2018
LasVegas,2018-03-25,3.03,680234.93,286395.34,212174.53,18141.91,264249.77,93651.31,207843.81,1473.33,organic,2018
LosAngeles,2018-03-25,2.44,5470227.08,2914047.44,1447533.80,121002.86,2701609.82,2656630.42,362931.85,61316.94,organic,2018
Louisville,2018-03-25,2.29,169828.77,37508.86,98136.23,10193.62,78880.66,53034.96,55257.34,4074.69,organic,2018
MiamiFtLauderdale,2018-03-25,3.05,1310671.51,897435.51,281503.40,9947.00,292462.33,120093.14,220080.54,17369.72,organic,2018
Midsouth,2018-03-25,2.17,5286412.87,1259113.31,2257429.97,388259.15,2299234.65,2062091.77,280722.16,79133.56,organic,2018
Nashville,2018-03-25,2.24,391780.25,186689.66,59611.16,17578.18,193381.81,186396.09,45308.77,2780.00,organic,2018
NewOrleansMobile,2018-03-25,2.32,633235.06,400599.94,80089.33,15050.73,161891.76,128875.87,43469.83,16675.00,organic,2018
NewYork,2018-03-25,2.65,2959541.38,294591.11,2283465.22,279630.35,806773.40,774634.09,305309.26,18757.50,organic,2018
Northeast,2018-03-25,2.31,7508650.27,736158.49,5402444.45,375904.92,1925092.30,1495884.84,640105.84,69794.85,organic,2018
NorthernNewEngland,2018-03-25,1.96,847261.25,211564.36,754096.71,64720.71,196316.33,176636.74,154825.16,9655.00,organic,2018
Orlando,2018-03-25,2.87,759532.37,511953.91,151154.50,2083.82,223889.61,94810.52,155928.30,19396.39,organic,2018
Philadelphia,2018-03-25,2.45,819224.30,130162.76,511600.73,58242.14,288606.41,261473.35,54389.00,8255.40,organic,2018
PhoenixTucson,2018-03-25,2.62,2200550.27,1200632.86,531226.65,57213.24,534479.18,330740.57,330583.10,6709.75,organic,2018
Pittsburgh,2018-03-25,1.83,214738.04,107597.81,145405.43,5316.06,99834.61,48023.13,63248.94,6515.00,organic,2018
Plains,2018-03-25,2.13,3575499.21,2157030.64,1165322.88,53882.08,869560.91,717323.25,190573.14,52003.87,organic,2018
Portland,2018-03-25,2.86,1189151.17,264203.19,535324.57,45229.53,737683.65,678871.57,391141.49,7648.30,organic,2018
RaleighGreensboro,2018-03-25,3.04,552900.21,123228.06,230068.42,88450.29,320856.77,312969.23,19822.48,10935.00,organic,2018
RichmondNorfolk,2018-03-25,2.05,469093.71,145746.61,168148.89,21686.02,214438.38,187621.35,26710.36,9460.83,organic,2018
Roanoke,2018-03-25,2.27,287728.25,82020.39,79535.27,2541.99,150169.93,116918.04,32938.52,5763.33,organic,2018
Sacramento,2018-03-25,2.82,862337.10,321474.22,518775.30,34235.86,136289.77,128164.60,5504.02,7129.43,organic,2018
SanDiego,2018-03-25,2.74,917660.79,424263.68,439224.74,32042.58,378746.24,318872.23,155614.62,5649.28,organic,2018
SanFrancisco,2018-03-25,3.25,1706251.05,560686.25,1113987.54,76966.69,236417.93,231913.11,11823.61,10906.94,organic,2018
Seattle,2018-03-25,2.96,1093144.23,263440.86,578708.75,18076.48,650319.01,573866.81,312387.51,1943.12,organic,2018
SouthCarolina,2018-03-25,2.21,706098.15,365828.76,182799.50,27248.16,272030.47,200563.64,70398.75,14585.00,organic,2018
SouthCentral,2018-03-25,1.81,10323174.59,5160896.68,2390282.14,804558.25,4014132.29,3398569.92,1049435.14,108072.79,organic,2018
Southeast,2018-03-25,2.33,7545938.97,4492704.70,1537592.22,97111.62,2379984.02,1405622.59,1318520.16,92787.50,organic,2018
Spokane,2018-03-25,2.95,165785.94,46467.69,84741.31,6422.29,89795.19,75098.77,43887.36,331.90,organic,2018
StLouis,2018-03-25,2.84,348135.49,209893.28,80994.41,895.48,260500.63,225966.72,54426.61,18517.91,organic,2018
Syracuse,2018-03-25,2.44,113023.35,10004.38,78340.67,3980.63,35695.67,34559.23,22305.58,3005.00,organic,2018
Tampa,2018-03-25,3.17,893143.94,564685.19,200199.09,2087.35,260556.30,150022.99,150133.37,15976.67,organic,2018
TotalUS,2018-03-25,2.09,62505646.52,22743616.17,20470572.61,2546439.11,19373134.37,13384586.80,5719096.61,551693.65,organic,2018
West,2018-03-25,2.52,11274749.11,4377537.67,3872672.00,281618.20,4145406.70,2780258.77,2838239.39,26564.17,organic,2018
WestTexNewMexico,2018-03-25,2.93,1637554.42,1067388.68,376232.89,74916.26,424013.40,243993.80,287509.52,38120.00,organic,2018

In [104]:
avocado["type"].unique()

array(['conventional', 'organic'], dtype=object)

In [114]:
avocado["region"].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [115]:
avocado["region"].nunique()

54

In [117]:
avocado["region"].value_counts()

Indianapolis           338
HarrisburgScranton     338
SouthCarolina          338
Columbus               338
NewOrleansMobile       338
GreatLakes             338
Sacramento             338
Plains                 338
SouthCentral           338
NorthernNewEngland     338
GrandRapids            338
PhoenixTucson          338
Northeast              338
Midsouth               338
LosAngeles             338
Spokane                338
Seattle                338
Orlando                338
Louisville             338
West                   338
Denver                 338
Chicago                338
Portland               338
Nashville              338
Atlanta                338
MiamiFtLauderdale      338
Southeast              338
Pittsburgh             338
Houston                338
StLouis                338
SanFrancisco           338
LasVegas               338
Detroit                338
RaleighGreensboro      338
TotalUS                338
HartfordSpringfield    338
Jacksonville           338
Boise                  338
California             338
BaltimoreWashington    338
Tampa                  338
DallasFtWorth          338
Albany                 338
CincinnatiDayton       338
RichmondNorfolk        338
BuffaloRochester       338
Philadelphia           338
NewYork                338
Charlotte              338
Syracuse               338
Boston                 338
SanDiego               338
Roanoke                338
WestTexNewMexico       335
Name: region, dtype: int64